/* Start Variables */
:root {
  --greenColor:#2a7d2f;
  --blackColor:#222222;
  --whiteColor:#ffffff;
}
/* End Variables */

/* Start Change colors Bootstrap elements */
.btn-success {
  background-color: var(--greenColor);
  border-color: var(--greenColor);
}

/* End Change colors Bootstrap elements */

/* Start Top Bar */
header div.Top-bar {
  background-color: var(--greenColor);
  color: var(--whiteColor);
  padding: 10px 0px;
}
header div > i {
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  .container-fluid div.col-md {
    text-align: center!important;
  }
}
/* End Top Bar */

/* Start Nav */
header nav {
  background-color: var(--whiteColor);
}
header > nav > a > span {
  color: var(--greenColor);
}
header nav .nav-link {
  color: var(--blackColor)!important;
}
header nav .nav-item {
  margin: 0px 15px;
}
#navbarSupportedContent > button {
  font-weight: 700;
}
/* End Nav */

/* Start Slider */
.carousel-inner {
  display: flex;
  align-items: center;
}
.carousel-item {
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  height: 85vh;
  width: 100%;
  z-index: 1;
}
.overlay {
  position: absolute;
  width: 100%;
  height:100%;
  z-index: 2;
  background-color: var(--blackColor);
  opacity: 0.5;
}
.slide h1 {
  position: absolute;
  z-index: 3;
  color: var(--whiteColor);
  width: 100%;
  text-align: center;
  font-size: 70px;
}
.slide1 {
  background-image: url(../img/slider1.jpg);
}
.slide2 {
  background-image: url(../img/slider2.jpg);
}
.slide3 {
  background-image: url(../img/slider3.jpg);
}
/* End Slider */

/* Start Section Project */
article {
  margin-top: 30px;
}
.card-deck {
  margin: 50px 0;
}
.card-footer {
  background-color: var(--greenColor);
}
.text-muted {
  color: var(--whiteColor)!important;
  font-size: 15px;
}
.shadow:hover {
  box-shadow: 0 0.5rem 1rem var(--greenColor) !important;
}
/* End Section Project */

/* Start Section Events */
article.events {
  background-color: var(--greenColor);
  padding: 30px 0;
}
h2 > span {
  color: #ffc107;
}
.card-total-events {
  margin-top: 30px;
  height: 470px;
  overflow: hidden;
}
.card-img-overlay {
  z-index: 20;
  background-color: var(--blackColor);
  opacity: 0.8;
  text-align: center;
  padding: 30px;
}
.card-of-events {
  margin-top: 30px;
  height: 220px;
}
article div.card-of-events h3 {
  margin-top: 5px;
  font-size: 25px;
} 
article div.card-of-events .btn {
  padding: 1px 15px ;
}
.mini-title {
  color: #5c5c5c;
  border-left: 3px solid;
  padding-left: 10px;
}
.mini-title-1 {
  border-color: #ffc107;
}
.mini-title-2 {
  border-color: var(--blackColor);
}
.mini-title-3 {
  border-color: var(--greenColor);
}
.mini-title-4 {
  border-color: var(--blackColor);
}
@media screen and (max-width: 992px) {
  .card-total-events {
    height: 300px;
  }
}
/* End Section Events */

/* Start About us */
.about {
  padding: 50px 0px;
}
.features img {
  width: 100px;
  height: 100px;
  margin: 20px 0;
}
/* End About us */

/* Start Contact */
.contact-section {
  background-color: var(--blackColor);
  padding: 50px;
}
form input {
  margin: 20px 0px 0px;
}
form textarea {
  margin-top: 20px;
}
form button {
  margin-top: 20px;;
}
/* End Contact */

/* Start Footer */
footer {
  background-color: var(--greenColor);
  padding: 10px;
}
footer .card {
  background-color: transparent;
}
footer a {
  color: var(--blackColor)!important;
}
footer a span {
  color: var(--whiteColor)!important;
}
footer i {
  font-size: 30px;
  cursor: pointer;
}
ul li.list-group-item {
  background-color: transparent;
}
/* End Footer */