/* Start Variables */
:root {
  --greenColor:#2a7d2f;
  --blackColor:#222222;
  --whiteColor:#ffffff;
}
/* End Variables */

/* Start Top Bar */
.Top-bar {
  background-color: var(--greenColor);
  color: var(--whiteColor);
  padding: 10px 0px;
}
header .fab {
  font-size: 20px;
}
/* End Top Bar */

/* Start Nav */
header nav {
  background-color: var(--whiteColor);
}
header nav .nav-link {
  color: var(--blackColor)!important;
}
header nav .nav-item {
  margin: 0px 10px;
}
/* End Nav */